# Build directory
build/

# Compiled Playdate extension
source/pdex.dylib
source/pdex.dll
source/pdex.so
source/pdex.bin

# Playdate bundle
*.pdx

# macOS
.DS_Store

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
